<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index page</title>

    <link rel="stylesheet" href="/styles/global.css" />
</head>
<body>
    Index page.
    Hello Nebeas :D
    <h1>Nebeas</h1>
    <h2>Nebeas</h2>
    <h3>Nebeas</h3>
    <h4>Nebeas</h4>
    <h5>Nebeas</h5>
    <h6>Nebeas</h6>
    <p>Nebeas</p>

</body>
</html>