/* @use "fonts/barlow"; */
/* @use "fonts/barlowCondensed"; */
/* @use "fonts/inter"; */
/* @use "fonts/interTight"; */
/* @use "fonts/openSans"; */
/* @use "fonts/roboto"; */
/* @use "fonts/robotoFlex"; */
/* @use "fonts/spaceGrotesk"; */
@use "fonts/splineSans";
/* @use "fonts/splineSansMono"; */
/* @use "fonts/syne"; */
  
@use "globalFragments/typography";

* {
    -webkit-tap-highlight-color: transparent;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style: normal;
    font-family: "Spline Sans Regular";
    letter-spacing: -0.4px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility !important;
    object-fit: contain;
}

