@font-face {
    font-family: "Inter";
    src: url("/fonts/inter/woff2/Inter-Regular.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter Medium";
    src: url("/fonts/inter/woff2/Inter-Medium.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter Bold";
    src: url("/fonts/inter/woff2/Inter-Bold.woff2");
    font-display: swap;
}
  
* {
    -webkit-tap-highlight-color: transparent;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style: normal;
    font-family: "Inter";
    letter-spacing: -0.4px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility !important;
    object-fit: contain;
}