@font-face {
    font-family: "Inter Tight Black";
    src: url("/fonts/interTight/woff2/InterTight-Black.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter Tight Black Italic";
    src: url("/fonts/interTight/woff2/InterTight-BlackItalic.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter Tight Bold";
    src: url("/fonts/interTight/woff2/InterTight-Bold.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter Tight Bold Italic";
    src: url("/fonts/interTight/woff2/InterTight-BoldItalic.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter Tight ExtraBold";
    src: url("/fonts/interTight/woff2/InterTight-ExtraBold.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter Tight ExtraBold Italic";
    src: url("/fonts/interTight/woff2/InterTight-ExtraBoldItalic.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter Tight ExtraLight";
    src: url("/fonts/interTight/woff2/InterTight-ExtraLight.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter Tight ExtraLight Italic";
    src: url("/fonts/interTight/woff2/InterTight-ExtraLightItalic.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter Tight Italic";
    src: url("/fonts/interTight/woff2/InterTight-Italic.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter Tight Light";
    src: url("/fonts/interTight/woff2/InterTight-Light.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter Tight Light Italic";
    src: url("/fonts/interTight/woff2/InterTight-LightItalic.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter Tight Medium";
    src: url("/fonts/interTight/woff2/InterTight-Medium.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter Tight Medium Italic";
    src: url("/fonts/interTight/woff2/InterTight-MediumItalic.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter Tight Regular";
    src: url("/fonts/interTight/woff2/InterTight-Regular.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter Tight SemiBold";
    src: url("/fonts/interTight/woff2/InterTight-SemiBold.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter Tight SemiBold Italic";
    src: url("/fonts/interTight/woff2/InterTight-SemiBoldItalic.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter Tight Thin";
    src: url("/fonts/interTight/woff2/InterTight-Thin.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter Tight Thin Italic";
    src: url("/fonts/interTight/woff2/InterTight-ThinItalic.woff2");
    font-display: swap;
}