@font-face {
    font-family: "Inter Black";
    src: url("/fonts/inter/woff2/Inter-Black.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter Bold";
    src: url("/fonts/inter/woff2/Inter-Bold.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter ExtraBold";
    src: url("/fonts/inter/woff2/Inter-ExtraBold.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter ExtraLight";
    src: url("/fonts/inter/woff2/Inter-ExtraLight.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter Light";
    src: url("/fonts/inter/woff2/Inter-Light.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter Medium";
    src: url("/fonts/inter/woff2/Inter-Medium.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter Regular";
    src: url("/fonts/inter/woff2/Inter-Regular.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter SemiBold";
    src: url("/fonts/inter/woff2/Inter-SemiBold.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter Thin";
    src: url("/fonts/inter/woff2/Inter-Thin.woff2");
    font-display: swap;
}