@font-face {
    font-family: "Open Sans Condensed Bold";
    src: url("/fonts/openSans/woff2/OpenSans_Condensed-Bold.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Open Sans Condensed Bold Italic";
    src: url("/fonts/openSans/woff2/OpenSans_Condensed-BoldItalic.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Open Sans Condensed ExtraBold";
    src: url("/fonts/openSans/woff2/OpenSans_Condensed-ExtraBold.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Open Sans Condensed ExtraBold Italic";
    src: url("/fonts/openSans/woff2/OpenSans_Condensed-ExtraBoldItalic.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Open Sans Condensed Italic";
    src: url("/fonts/openSans/woff2/OpenSans_Condensed-Italic.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Open Sans Condensed Light";
    src: url("/fonts/openSans/woff2/OpenSans_Condensed-Light.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Open Sans Condensed Light Italic";
    src: url("/fonts/openSans/woff2/OpenSans_Condensed-LightItalic.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Open Sans Condensed Medium";
    src: url("/fonts/openSans/woff2/OpenSans_Condensed-Medium.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Open Sans Condensed Medium Italic";
    src: url("/fonts/openSans/woff2/OpenSans_Condensed-MediumItalic.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Open Sans Condensed Regular";
    src: url("/fonts/openSans/woff2/OpenSans_Condensed-Regular.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Open Sans Condensed SemiBold";
    src: url("/fonts/openSans/woff2/OpenSans_Condensed-SemiBold.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Open Sans Condensed SemiBold Italic";
    src: url("/fonts/openSans/woff2/OpenSans_Condensed-SemiBoldItalic.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Open Sans SemiCondensed Bold";
    src: url("/fonts/openSans/woff2/OpenSans_SemiCondensed-Bold.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Open Sans SemiCondensed Bold Italic";
    src: url("/fonts/openSans/woff2/OpenSans_SemiCondensed-BoldItalic.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Open Sans SemiCondensed ExtraBold";
    src: url("/fonts/openSans/woff2/OpenSans_SemiCondensed-ExtraBold.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Open Sans SemiCondensed ExtraBold Italic";
    src: url("/fonts/openSans/woff2/OpenSans_SemiCondensed-ExtraBoldItalic.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Open Sans SemiCondensed Italic";
    src: url("/fonts/openSans/woff2/OpenSans_SemiCondensed-Italic.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Open Sans SemiCondensed Light";
    src: url("/fonts/openSans/woff2/OpenSans_SemiCondensed-Light.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Open Sans SemiCondensed Light Italic";
    src: url("/fonts/openSans/woff2/OpenSans_SemiCondensed-LightItalic.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Open Sans SemiCondensed Medium";
    src: url("/fonts/openSans/woff2/OpenSans_SemiCondensed-Medium.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Open Sans SemiCondensed Medium Italic";
    src: url("/fonts/openSans/woff2/OpenSans_SemiCondensed-MediumItalic.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Open Sans SemiCondensed Regular";
    src: url("/fonts/openSans/woff2/OpenSans_SemiCondensed-Regular.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Open Sans SemiCondensed SemiBold";
    src: url("/fonts/openSans/woff2/OpenSans_SemiCondensed-SemiBold.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Open Sans SemiCondensed SemiBold Italic";
    src: url("/fonts/openSans/woff2/OpenSans_SemiCondensed-SemiBoldItalic.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Open Sans Bold";
    src: url("/fonts/openSans/woff2/OpenSans-Bold.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Open Sans Bold Italic";
    src: url("/fonts/openSans/woff2/OpenSans-BoldItalic.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Open Sans ExtraBold";
    src: url("/fonts/openSans/woff2/OpenSans-ExtraBold.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Open Sans ExtraBold Italic";
    src: url("/fonts/openSans/woff2/OpenSans-ExtraBoldItalic.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Open Sans Italic";
    src: url("/fonts/openSans/woff2/OpenSans-Italic.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Open Sans Light";
    src: url("/fonts/openSans/woff2/OpenSans-Light.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Open Sans Light Italic";
    src: url("/fonts/openSans/woff2/OpenSans-LightItalic.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Open Sans Medium";
    src: url("/fonts/openSans/woff2/OpenSans-Medium.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Open Sans Medium Italic";
    src: url("/fonts/openSans/woff2/OpenSans-MediumItalic.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Open Sans Regular";
    src: url("/fonts/openSans/woff2/OpenSans-Regular.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Open Sans SemiBold";
    src: url("/fonts/openSans/woff2/OpenSans-SemiBold.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Open Sans SemiBold Italic";
    src: url("/fonts/openSans/woff2/OpenSans-SemiBoldItalic.woff2");
    font-display: swap;
}