@font-face {
    font-family: "Roboto Black";
    src: url("/fonts/roboto/woff2/Roboto-Black.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Roboto Black Italic";
    src: url("/fonts/roboto/woff2/Roboto-BlackItalic.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Roboto Bold";
    src: url("/fonts/roboto/woff2/Roboto-Bold.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Roboto Bold Italic";
    src: url("/fonts/roboto/woff2/Roboto-BoldItalic.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Roboto Italic";
    src: url("/fonts/roboto/woff2/Roboto-Italic.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Roboto Light";
    src: url("/fonts/roboto/woff2/Roboto-Light.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Roboto Light Italic";
    src: url("/fonts/roboto/woff2/Roboto-LightItalic.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Roboto Medium";
    src: url("/fonts/roboto/woff2/Roboto-Medium.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Roboto Medium Italic";
    src: url("/fonts/roboto/woff2/Roboto-MediumItalic.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Roboto Regular";
    src: url("/fonts/roboto/woff2/Roboto-Regular.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Roboto Thin";
    src: url("/fonts/roboto/woff2/Roboto-Thin.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Roboto Thin Italic";
    src: url("/fonts/roboto/woff2/Roboto-ThinItalic.woff2");
    font-display: swap;
}
